@font-face {
    font-family: 'LMRoman10';
    font-style: normal;
    font-weight: 400;
    src: local('LMRoman10'), url('https://fonts.cdnfonts.com/s/266/lmroman10-regular.woff') format('woff');
}
@font-face {
    font-family: 'LMRomanCaps10';
    font-style: normal;
    font-weight: 400;
    src: local('LMRomanCaps10'), url('https://fonts.cdnfonts.com/s/266/lmromancaps10-regular.woff') format('woff');
}
@font-face {
    font-family: 'LMRomanDunh10';
    font-style: normal;
    font-weight: 400;
    src: local('LMRomanDunh10'), url('https://fonts.cdnfonts.com/s/266/lmromandunh10-regular.woff') format('woff');
}
@font-face {
    font-family: 'LMRomanSlant10';
    font-style: italic;
    font-weight: 400;
    src: local('LMRomanSlant10'), url('https://fonts.cdnfonts.com/s/266/lmromanslant10-regular.woff') format('woff');
}
@font-face {
    font-family: 'LMRoman10';
    font-style: italic;
    font-weight: 400;
    src: local('LMRoman10'), url('https://fonts.cdnfonts.com/s/266/lmroman10-italic.woff') format('woff');
}
@font-face {
    font-family: 'LMRomanCaps10';
    font-style: italic;
    font-weight: 400;
    src: local('LMRomanCaps10'), url('https://fonts.cdnfonts.com/s/266/lmromancaps10-oblique.woff') format('woff');
}
@font-face {
    font-family: 'LMRomanDunh10';
    font-style: italic;
    font-weight: 400;
    src: local('LMRomanDunh10'), url('https://fonts.cdnfonts.com/s/266/lmromandunh10-oblique.woff') format('woff');
}
@font-face {
    font-family: 'LMRomanDemi10';
    font-style: normal;
    font-weight: 600;
    src: local('LMRomanDemi10'), url('https://fonts.cdnfonts.com/s/266/lmromandemi10-regular.woff') format('woff');
}
@font-face {
    font-family: 'LMRomanDemi10';
    font-style: italic;
    font-weight: 600;
    src: local('LMRomanDemi10'), url('https://fonts.cdnfonts.com/s/266/lmromandemi10-oblique.woff') format('woff');
}
@font-face {
    font-family: 'LMRoman10';
    font-style: normal;
    font-weight: 700;
    src: local('LMRoman10'), url('https://fonts.cdnfonts.com/s/266/lmroman10-bold.woff') format('woff');
}
@font-face {
    font-family: 'LMRoman10';
    font-style: italic;
    font-weight: 700;
    src: local('LMRoman10'), url('https://fonts.cdnfonts.com/s/266/lmroman10-bolditalic.woff') format('woff');
}
@font-face {
    font-family: 'LMRomanSlant10';
    font-style: italic;
    font-weight: 700;
    src: local('LMRomanSlant10'), url('https://fonts.cdnfonts.com/s/266/lmromanslant10-bold.woff') format('woff');
}


